
@font-face {
    font-family: 'ManuelaIvelja';
    src: url('ManuelaIvelja.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;}

h1 {font-family: 'ManuelaIvelja', sans-serif;}

body {background-color: #ffffe0;}

ul {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: auto; /* Promijenjeno iz "300px" u "auto" */
    white-space: nowrap; /* Sprječava prelamanje na novi red */
}

li {
    display: inline-block;
    background-color: LightCoral;
    padding: 20px;
    border: 2px solid IndianRed;
}